@import "../../../styles/styles";

.spot-container {
  position: relative;
  text-align: center;

  .title {
    font-size: 1.75rem;
    padding: .4em;
  }
  .content {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1rem;
    color: $gray;
  }
  .tag-btn{
    margin-right: 1em;
    pointer-events: none;
  }
}

.carousel-img {
  margin-top: 1em;
}
