@import "../../styles/styles";

.search-bar {
  margin: 1em auto;
  max-width: 90%;
}

.search-bar-input {
  background-color: $white;
  border-radius: 4px;  
}

.MuiAutocomplete-input:first-child{
    font-weight: 600;
    color: $primary;
  }

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined{
    font-weight: 600;
    color: $primary
  }