@import "../../../styles/styles";

.add-spot-container {
  padding: 2rem;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .tags-center {
    display: flex;
    justify-content: center;
  }

  .form-field {
    width: 100%;

    &.MuiButtonBase-root {
      margin: 20px 0;
    }

    &.error-button {
      margin-bottom: 0;
    }
  }

  .tags-title {
    margin: 10px;
  }
}

.dialog-header-text {
  font-size: 20px;
  text-transform: uppercase;
}

.location-selected {
  font-size: $selected-location-size;
  color: green;
}
