// Color Palette
$white: #ffffff;
$black: #000000;
$blue-link: #01004d;
$gray: #405365;
$primary: #9900FF;
$secondary: #F700FF;
$red: #f44336;

// Sizes
$marker-size: 28px;
$selected-location-size: 32px;
