@import "../../../styles/styles";

.tags-container {
  display: flex;
  width: 80%;
  padding-top: 15px;
  justify-content: start;

  .tag-toggled {
    color: black;
  }

  .tag-btn {
    margin-right: 14px;
  }
}
