@import "../../../styles/styles";

.spots-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .spot-button {
    width: 100%;
    max-width: 900px;
    margin-top: 10px;
  }
}
